.bg-fade {
  > div {
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}
h2 {
  color: #393C40;
}
form {
  .button-group {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}
