$success-color: #00E676;
$fail-color: #fc4b4b;
$default-color: #A5A5A5;

$backgroud-modal: rgba(237, 237, 237, .3);
$backgroud-fade: rgba(237, 237, 237, .5);
$backgroud-content: #F0F3F6;

$default-gradient: linear-gradient(to left, #1DE9B6, #0288D1);